/* font-family: "Fira Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* shared font styles */


.fira-sans-bold{
    font-family: Fira Sans;
    font-weight: 700;
}

.fira-sans-semibold{
    font-family: Fira Sans;
    font-weight: 600;
}

.fira-sans-medium{
    font-family: Fira Sans;
    font-weight: 500;
}

.fira-sans-regular{
    font-family: Fira Sans;
    font-weight: 400;
}





/* shared styles */
*{
    margin: 0;
}

.section-width{
   
}

.primary-color01{
    color: rgba(0, 106, 80, 1);
}

.primary-color02{
    color: rgba(14, 14, 14, 1);
}

.primary-color03{
    color: rgba(198, 228, 214, 1)
}

.primary-color04{
    color: rgba(255, 255, 255, 1);
}

/* body styles */

.body{
    background-color: rgba(245, 245, 245, 1);
    
}

/* header styles */


/* nav styles */
nav ul li{
    list-style: none;
}

nav ul{
    display: flex;
    justify-content: space-between;
    

}

.navbar{
    width: 94%;
   
}

.nav-title{
    font-size: 32px;
    margin-top: 31px;
    margin-bottom: 31px;
    line-height: auto;
    letter-spacing: 0%;
    margin-left: 3%;

}

.nav-btn{
    font-size: 18px;
    border:  1px solid rgba(0, 106, 80, 1);
    background-color:  rgba(245, 245, 245, 1);
    padding: 15px 30px;
    border-radius: 8px;
    /* margin: 24px 105px 24px 0px; */
    margin-top: 24px;
    margin-bottom: 24px;
    
} 

/* banner styles */

.banner{
    background-color:rgba(198, 228, 214, 1) ;
    border-radius: 24px;
    max-height: 360px;
    max-width:75%;
   
    margin-right: auto;
    margin-left: auto;
   
    padding: 80px 100px;
    
    
    
}

.banner-content{
    display: flex;
    justify-content: space-between;
    /* gap: 64px; */
    /* align-items: center; */
    
    
}

.banner-column01{
    max-width: 438px;
    

}

.banner-subtile{
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 0px;
}

.banner-title{
   color: rgba(14, 14, 14, 1); 
   font-size: 40px;
   line-height: auto;
   letter-spacing: 0%;
   margin-top: 16px;
   
   
}

.banner-column01 a{
    text-decoration: none;
    
}

.banner-btn{
    font-size: 18px;
    border: none;
    background-color:rgba(0, 106, 80, 1);
    padding: 17px 34px;
    border-radius: 8px;
    margin-top: 24px;
}

.banner-column02 img{
    width: 400px;
    height: 350;
}


/* pillars of bangladesh */

.pillars-bd-container{
    max-width:90%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    
   
}

.pillars-bd-heading{
    font-size: 40px;
    line-height: auto;
    letter-spacing: 0%;
    margin-bottom:  32px;;

}

.pilars-card-container{
    display: flex;
   
    gap: 24px;
    margin-bottom: 80px;
  

    
}

.card{
   
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px 24px;
    margin-right: 24px;
    background-color: rgba(255, 255, 255, 1)
    
    

}

.card-icon{
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}

.card-heading{
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;

}

.card-description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.7);

}

/* future-vision */

.vision-card-01{
   
    border: none;
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
    background-color: rgba(84, 144, 245, 0.2);
    
      
}


.vision-card-02{
   
    border: none;
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
    background-color: rgba(198, 228, 214, 1);
    
    
}


.vision-card-03{
     
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
    background-color: rgba(247, 235, 207, 1);
   
}

.vision-btn-style{
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
    margin-top: 24px;


}

.vision-btn-01{
    background-color: rgba(84, 144, 245, 1);

}
.vision-btn-02{
    background-color: rgba(9, 161, 92, 1);
}

.vision-btn-03{
    background-color: rgba(255, 194, 57, 1);
}

