/* font-family: "Fira Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* shared font styles */


.fira-sans-bold{
    font-family: Fira Sans;
    font-weight: 700;
}

.fira-sans-semibold{
    font-family: Fira Sans;
    font-weight: 600;
}

.fira-sans-medium{
    font-family: Fira Sans;
    font-weight: 500;
}

.fira-sans-regular{
    font-family: Fira Sans;
    font-weight: 400;
}



/* shared styles */
*{
    margin: 0;
}



.primary-color01{
    color: rgba(0, 106, 80, 1);
}

.primary-color02{
    color: rgba(14, 14, 14, 1);
}

.primary-color03{
    color: rgba(198, 228, 214, 1)
}

.primary-color04{
    color: rgba(255, 255, 255, 1);
}

/* body styles */

.body{
    background-color: rgba(245, 245, 245, 1);
    
}

/* header styles */

.header-container{
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* nav styles */
nav ul li{
    list-style: none;
}

nav ul{
    display: flex;
    justify-content: space-between;
    

}



.nav-title{
    font-size: 32px;
    margin-top: 31px;
    margin-bottom: 31px;
    line-height: auto;
    letter-spacing: 0%;
    

}

.nav-btn{
    font-size: 18px;
    border:  1px solid rgba(0, 106, 80, 1);
    background-color:  rgba(245, 245, 245, 1);
    padding: 15px 30px;
    border-radius: 8px;
    /* margin: 24px 105px 24px 0px; */
    margin-top: 24px;
    margin-bottom: 24px;
    
} 

/* banner styles */

.banner{
    background-color:rgba(198, 228, 214, 1) ;
    border-radius: 24px;
    max-height: 360px;
    padding: 80px 100px;
    
    
    
}

.banner-content{
    display: flex;
    justify-content: space-between;
  
    
    
}

.banner-column01{
    max-width: 438px;
    

}

.banner-subtile{
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 0px;
}

.banner-title{
   color: rgba(14, 14, 14, 1); 
   font-size: 40px;
   line-height: auto;
   letter-spacing: 0%;
   margin-top: 16px;
   
   
}

.banner-column01 a{
    text-decoration: none;
    
}

.banner-btn{
    font-size: 18px;
    border: none;
    background-color:rgba(0, 106, 80, 1);
    padding: 17px 34px;
    border-radius: 8px;
    margin-top: 24px;
}

.banner-column02 img{
    width: 400px;
    height: 350;
}


/* pillars of bangladesh */

.pillars-bd-container{
    max-width:90%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    
   
}

.pillars-bd-heading{
    font-size: 40px;
    line-height: auto;
    letter-spacing: 0%;
    margin-bottom:  32px;;

}

.pilars-card-container{
    display: flex;
   
    gap: 24px;
    margin-bottom: 80px;
  

    
}

.card{
   
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px 24px;
    margin-right: 24px;
    background-color: rgba(255, 255, 255, 1)
    
    

}

.card-icon{
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}

.card-heading{
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;

}

.card-description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.7);

}

/* future-vision */
.vision{
    
    
    margin-left: auto;
    margin-right: auto;
}


#vision-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
    line-height: 24px;
    letter-spacing: 0%;
    

}

.vision-card-01{
   
    border: none;
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
    background-color: rgba(84, 144, 245, 0.2);
    
      
}


.vision-card-02{
   
    border: none;
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
    background-color: rgba(198, 228, 214, 1);
    
    
}


.vision-card-03{
     
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
    background-color: rgba(247, 235, 207, 1);
   
}

.vision-btn-style{
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
    margin-top: 24px;


}

.vision-btn-01{
    background-color: rgba(84, 144, 245, 1);

}
.vision-btn-02{
    background-color: rgba(9, 161, 92, 1);
}

.vision-btn-03{
    background-color: rgba(255, 194, 57, 1);
}

/* dr. younus quote */
.quote{
  
   display: flex;
   justify-content: center;
   margin-left: auto;
    margin-right: auto; 
    max-width:90%;
}

.quote-container{
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: rgba(255, 255, 255, 1);
    
    padding: 48px 24px;
    border-radius: 16px;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 25px;
    margin-bottom: 70px;
     

}

.quote-description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color
    :rgba(14, 14, 14, 0.8);
}

.speaker-name{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 12px;
    margin-bottom: 5px;
}

.speaker-designation{
    font-size: 16px;
    line-height: 24px;
    line-break: 0%;
    color: rgba(14, 14, 14, 0.6);
}

/* opinion table styles */
.opinion-container{
    
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    
}

.opinion-table-container{
    background-color: rgba(255, 255, 255, 1);
    border: none;
    padding: 32px 32px;
    border-radius: 16px;
    gap: 24px; 
    margin-top: 24px;
   
} 

.opinion-container h1{
    font-size: 40px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 1);
}

.opinion-table-container table{
    width: 100%;
}


.opinion-table-container table,th,td{
    border: solid 1px rgba(14, 14, 14, 0.15);
    border-collapse: collapse;
    
}

.opinion-table-container th,td{
    padding: 24px 24px;
    font-size: 16px;

}



.opinion-table-container button{
    border: 1px solid rgba(14, 14, 14, 1);
    background-color: rgba(9, 161, 92, 0.15);
    border-radius: 4px;
    padding: 10px 14px;

}

.opinion-btn{
    text-align: center;
}

#col-head{
    font-size: 20px;
}

/* News styles */

.recent-news-containter{
   
    margin-bottom: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.recent-news-containter h1{
    font-size: 40px;
    margin-bottom: 24px;
}

.news-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 32px;
}

.newscard{
    background-color:rgba(255, 255, 255, 1) ;
    border-radius: 24px;
    padding: 48px 48px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.news-img{
    width: 408px;
    height: 306px;
    
    
    
}

.news-img img{
    border-radius: 24px;
}

.new-about h2{
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
   
}

.new-about img{
    width: 134px;
    height: 40px;
   
}

.news-about p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px;
    margin-bottom: 12px;
}

.news-about button{
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}

.channel-img{
    margin-top: 12px;
}

/* donate section start */

.donate{
   
    display: flex;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center
    
}

.donate-item-container button{
    color: rgba(255, 255, 255, 1); 
    margin-top: 32px;
    
}

.other-amount-container{
    display: flex;
    justify-content: center;
   
}

#other-amount-taka{
    font-size: 15px;
    color: rgba(14, 14, 14, 0.3);
    background-color: rgba(255, 255, 255, 1);
    padding: 18px 300px;
    line-height: auto;
    letter-spacing: 0%;
    
}


.amount-container{
    
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    
}

.amount{
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.8) ;
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 30px 30px;
}

.donate-title{
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
    line-height: auto;
    letter-spacing: 0%;
    margin-bottom: 24px;

}

.donate-des{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 0.7);
}

.amount:hover {
   background-color:rgba(0, 106, 80, 1); /* Background color on hover */
  color: white; /* Text color on hover */
}

/* subscribe styles */

.subscribe{
    
    margin-top: 70px;
    margin-bottom: 70px;
}

.subscribe-container{
    background-color: rgba(198, 228, 214, 1);
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 100px;
    border-radius: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.subscribe-container h1{
    font-size: 40px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(14, 14, 14, 1)
    

}

.subscribe-container p{
   color: rgba(14, 14, 14, 0.7); 
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0%;
  
   
}

.sub-description{
    margin-top: 16px;
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 1);
}



.search{
    margin-bottom: 25px;   
}

.search-form{
    display: flex;
    justify-content: center;

   
}

.search-form input{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.3);
    gap: 24px;
    width: 500px;
    padding: 18px 50px;
    border-radius: 5px 0px 0px 5px;
    border: none;

}

.sub-btn{
    font-size: 18px;
    line-height: auto;
    letter-spacing: 0%;
    color:rgba(255, 255, 255, 1) ;
    border: none;
    border-radius: 0px 5px 5px 0px;
    gap: 48px;
    padding: 18px 34px;
    background-color: rgba(0, 106, 80, 1)
}   

/* footer style */

.footer{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}


.footer-container{
    width: 90%;
    
    text-align: center;
}

.footer h2{
    font-size: 32px;
    line-height: auto;
    letter-spacing: 0%;
    margin-top: 50px;
    margin-bottom: 32px;
}

.logo-container img{
  width: 24px;
  height: 24px; 
  margin-top: 32px;
  margin-right: 5px; 
  margin-bottom: 40px;
}

